<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
<link rel="stylesheet" href="libs/countdown/css//jquery.countdown.css" />
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<div id="countdown">
    <p id="note" style="color: white"></p>
</div>


<!-- JavaScript includes -->
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="libs/countdown/js/jquery.countdown.js"></script>
<script src="libs/countdown/js/script.js"></script>

